---
import '../css/style.scss';
---
<!DOCTYPE html>
<html lang="ja">
	<meta charset="UTF-8">
	<div class="box">
		<p>SCSSを使います</p>
	</div>
	<p>ここは黒です</p>
</html>

<style lang="scss">
	.box {
		p {
			color: red;
		}
	}
</style>