---
import { getBlogs } from '../library/microcms';
const response = await getBlogs({ fields: ["id", "title"] });
---
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Blog</title>
</head>
<body>
	<ul>
		{response.contents.map((content => 
			<li><a href={content.id}>{content.title}</a></li>
		))}
	</ul>
</body>
</html>