---
const nav = [
	{
		href: 'about',
		label: '会社情報'
	},
	{
		href: 'contact',
		label: 'お問い合わせ'
	}
]
---

<html>
	<meta charset="UTF-8">

	<ul>
		{nav.map((nav_item) =>
		  <li><a href={nav_item.href}>{nav_item.label}</a></li>
		)}
	</ul>
</html>